#root {
  /* max-width: device-width;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  font-family: Sans-serif;
  /* background-color: #fafafa; */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 /* --------my-style-----  */

 
.head {
  background-color: rgb(255, 255, 255);
  height: 50px;
  padding: 2px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}



.left {
  display: flex;
  align-items: center;
  padding-left: 7px;
}
.left img{
  width: 42%;
  padding-left: 18px;
  cursor: pointer;
}

.left button {
  background-color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: auto;
  padding: 7px;
  align-items: center; 
}
.left button:hover {
  background-color: #e9e9e9;
}

.mid {
  display: flex;
  margin-left: 17%;
  align-items: center;
  
}

.mid input {
  width: 520px;
  border-radius: 50px 0px 0px 50px;
  height: 67%;
  padding-left: 15px;
  border-color: rgb(205, 209, 209);
  border:rgb(205, 209, 209) solid 1px;
  font-size: 17px;

}

.mid button {
  border-radius: 0 50px  50px 0;
  width: 65px;
  height: 77%;
  margin-left: -5px;
  cursor: pointer;
  border:rgb(205, 209, 209) solid 1px;
}

.mid button:hover {
  background-color: rgb(224, 230, 230);
}

.mid .mic {
  margin-left: 15px;
  background-color: #eeecec;
  padding: 7px;
  border-radius: 100%;
  cursor: pointer;
}

.mid .mic:hover {
  background-color: #dbd8d8;
}

.right {
  margin-left: 23%;
  align-items: center;
  display: flex;
  padding-top: 4px;
}


.right .icons {
  border-radius: 100%;
}
.right .icons:hover{
  background-color: #dbd8d8;
}

.right a {
  padding-left: 24px;
  color: rgb(41, 39, 39);
}

/* start of try */
  /* end of try */

.left-navigation {
  position: fixed; 
  align-items: center;
  top: 54px;
  left: 0;
  width: 12%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  transition: max-height 0.3s ease; /* Add transition for smooth animation */
  /* overflow-x: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */

}
.left-navigation:hover {
  max-height: 97vh;
  scrollbar-width: thin;

  /* overflow-y: visible; */
}

.left-navigation hr {
  margin: 12px auto;
  width: 210px;;
  border-top: 0.2px solid rgb(219, 213, 213);
}

@media screen and (max-width: 768px) {
  .left-navigation {
    width: 70%; /* Occupy full width on smaller screens */
    /* max-height: 0;  */
    overflow: auto; /* Hide overflow */
    transition: max-height 0.3s ease; /* Add transition for smooth animation */
  }

  .left-navigation:hover {
    max-height: 97vh; /* Expand height on hover */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .left-navigation hr {
    width: 90%; /* Adjust width to fit the container */
  }

  .nav-item {
    width: 90%; /* Adjust width to fit the container */
  }
}

.nav-item {
  /* width: 80%; */
  /* max-width: 90%; */
  /* width: 200px; */
  display: flex;
  align-items: center;
  padding: 9px;
  margin:3px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  
}
.nav-item:hover {
  background-color: #f0f0f0;
}

.nav-item i {
  color: black;
}

.nav-item img {
  width: 26px;
  border-radius: 100%;
}

.nav-item a{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  
}

.nav-item span {
  margin-left: 20px;
  font-family: Sans-serif;
  font-size: 13px;
}

.videos {
  display:flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(3000px, 1fr)); */
  margin-top: 80px;
  width: auto;
  /* max-width: 96%; */
}

.video {
  margin: 8px;
  /* width: 19%; */
  flex-basis: calc(19% );  
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .video {
    flex-basis: calc(70% - 20px); /* Adjust as needed */
    width: 90%;
    height: fit-content;
    margin: 12px auto;
  }

}

.video a {
  text-decoration: none;
  color: black;
  
}

.video img {
  width: 100%;
  border-radius: 12px;
}
.video img:hover {
  border-radius: 0;
  width: 101%
}

.video .prop {
  display: flex;
  
}
.video .prop img {
  margin-top:7px;
  margin-left: 2px;
  width:40px;
  height: 40px;
  border-radius: 100%;
  /* padding:10px; */
}
.video .info {
  margin-left: 20px;
  margin-top: -4px;
}
.video .info a:hover {
  color: black;
}

.video p {
  height: auto;
  max-height: 41px;
  overflow: hidden;
}

.ch-name {
  font-size: 14px;
  margin-top: -10px;
  color: #686666;
}
.ch-name a {
  color: #686666;
}
.ch-name a:hover {
  color: black;
}

